homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret ha_lat
  longitude: !secret ha_long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret ha_elev
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  customize: !include customize.yaml

zone:
  name: KIMAB
  latitude: 59.405121
  longitude: 17.947138

zone 2:
  name: Vici
  latitude: 59.336505
  longitude: 18.030701

panel_iframe:
  router:
    title: 'N66U Dark Knight'
    icon: mdi:router-wireless
    url: 'http://192.168.1.1'

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret http_password
  ssl_certificate: /etc/letsencrypt/live/kribbstarha.duckdns.org/fullchain.pem
  ssl_key: /etc/letsencrypt/live/kribbstarha.duckdns.org/privkey.pem
  # Uncomment this if you are using SSL or running in Docker etc
  base_url: !secret http_url

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
discovery:
conversation:
history:
logbook:
frontend:
config:
sun:
tts:
  platform: google
# nuimo_controller:
  # mac: 'd1:c6:75:c2:4d:7e'

emulated hue:
  hot_ip: 192.168.1.29
  expose_by_default: true
  exposed_domains:
    - switch

media_player:
  - platform: cast
  - platform: spotify
    client_id: !secret spot_client_id
    client_secret: !secret spot_client_secret
  # - platform: ps4
    # host: !secret ps4_host

# ifttt:
  # key: !secret ifttt_key

mqtt:
  broker: !secret mqtt_ip
  port: !secret mqtt_port
  client_id: home-assistant-1
  username: !secret mqtt_user
  password: !secret mqtt_pass


switch:
  - platform: mqtt
    name: "Corner Lamp"
    state_topic: "smartthings/Corner Lamp/switch"
    command_topic: "smartthings/Corner Lamp/switch"
    payload_on: "on"
    payload_off: "off"
    retain: true
# Weather Prediction
sensor:
  # - platform: google_travel_time
    # api_key: !secret g_travel_key
    # name: Till KIMAB
    # origin: zone.home
    # destination: KIMAB
    # options:
      # mode: transit
  # - platform: google_travel_time
    # api_key: !secret g_travel_key
    # name: Till Vici
    # origin: zone.home
    # destination: Vici
    # options:
      # mode: transit
  - platform: darksky
    api_key: !secret darksky_key
    update_interval: '00:05'
    monitored_conditions:
      - summary
      # - icon
      # - nearest_storm_distance
      # - nearest_storm_bearing
      - precip_type
      - precip_intensity
      - precip_probability
      - temperature
      - apparent_temperature
      # - dew_point
      # - wind_speed
      # - wind_bearing
      - cloud_cover
      - humidity
      # - pressure
      - visibility
      # - ozone
      - minutely_summary
      - hourly_summary
      - daily_summary
      - temperature_max
      - temperature_min
      - apparent_temperature_max
      - apparent_temperature_min
      - precip_intensity_max
  - platform: pi_hole
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
  # # - platform: trafikverket
    # # api_key: !secret trafikverket_api_key
    # trains:
    # - name: "Train to work"
      # from: Sölvesborg
      # to: Kristianstad C
      # time: "07:28"
    # - name: "Train from work early"
      # from: Kristianstad C
      # to: Sölvesborg
      # time: "16:38"
    # - name: "Train from work late"
      # from: Kristianstad C
      # to: Sölvesborg
      # time: "17:02"
  - platform: systemmonitor
    resources:
     - type: disk_use_percent
       arg: /home
     - type: memory_free
     - type: processor_use
     - type: last_boot
  #Alarm Clock sensor
  - platform: template
    sensors:
      alarm_clock_hour:
        value_template: '{{ states.input_slider.alarm_clock_hour.state|int }}'
      alarm_clock_minute:
        value_template: '{{ states.input_slider.alarm_clock_minute.state|int }}'
      alarm_clock_time:
        value_template: >-
          {{ states.sensor.alarm_clock_hour.state }}:
          {%- if states.sensor.alarm_clock_minute.state|length == 1 -%}
            0
          {%- endif -%}
            {{ states.sensor.alarm_clock_minute.state }}
      alarm_clock_time_long:
        value_template: >-
          {% if states.sensor.alarm_clock_hour.state|length == 1 -%}
            0
          {%- endif -%}
            {{ states.sensor.alarm_clock_hour.state }}:
          {%- if states.sensor.alarm_clock_minute.state|length == 1 -%}
            0
          {%- endif -%}
            {{ states.sensor.alarm_clock_minute.state }}

script: !include scripts.yaml



input_slider:
  alarm_clock_hour:
    initial: 6
    min: 0
    max: 23
    step: 1
  alarm_clock_minute:
    initial: 15
    min: 0
    max: 55
    step: 5

input_boolean:
  alarm_clock_status:
    initial: on

input_select:
  radio_station:
    name: 'Select Radio Station:'
    options:
      - P3
      - Bandit
      - Rix FM
      - Electric Lounge
  chromecast_radio:
    name: 'Select Speakers:'
    options:
      - Google Home
      - Kribbcast
    initial: Google Home
    icon: mdi:speaker-wireless

device_tracker:
  - platform: tomato
    host: !secret tomato_ip
    username: !secret tomato_user
    password: !secret tomato_pass
    http_id: !secret tomato_id
    
notify: !include notify.yaml
group: !include groups.yaml
automation: !include automations.yaml
